@use "colors" as *;

@use "bulma/sass" with (
	// ------------------ colors ------------------
	$primary: $red,
	$link: $blue,
	$black: $dark,
	$blue: $blue,
	$danger: $pure-red,
	$warning: $yellow,
	$white: $background,

	// ------------------ navbar ------------------
	$navbar-background-color: $dark,
	$navbar-item-color: $yellow,
	$navbar-dropdown-arrow: $yellow,

	// ------------------ buttons ------------------
	$button-border-width: 0px,

	// ------------------ tables ------------------
	$table-head-background-color: $dark,
	$table-body-background-color: $background,
	$table-row-hover-background-color: $red,
	$table-striped-row-even-hover-background-color: $red,

	// ------------------ forms ------------------


	// ------------------ other ------------------
	$body-background-color: $yellow,
);

.table.is-hoverable tbody tr:hover * {
	color: $background;
}